* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  background-color: #5555c1;
}

#chess-container {
  width: 100%;
}
#chess-board {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 64vmin;
}

.square {
  width: 8vw;
  height: 8vw;
  max-width: 72px;
  max-height: 72px;
  position: relative;
}

.black-square {
  background-color: #b2a5c9;
}

.white-square {
  /* background-color: #e8e9eb; */
  background-color: #effbff;
}

.square:hover,
.square:focus {
  border: solid 2px #365153;
  background-color: #7ebdc2;
}

.targeted-square {
  border: solid 2px #bb4430;
  background-color: #f3dfa2;
}

.move-location {
  background-color: #7ebdc2;
}

.square:hover > img {
  padding: 0px;
}
.piece {
  padding: 6px;
  width: 100%;
}

#new-game-button {
  margin: 64px;
  padding: 8px 12px;
  background-color: #23022e;
  color: #e8e9eb;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

#new-game-button:active {
  background-color: #23022e;
}
