* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

body {
  background-color: #5555c1;
  padding-top: 64px;
}

#chess-container {
  width: 100%;
}
#chess-board {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 0px;
  width: 64vmin;
  max-width: 640px;
  justify-content: space-around;
}

.square {
  height: 8vw;
  max-height: 64px;
  position: relative;
}

.black-square {
  background-color: #b2a5c9;
}

.white-square {
  /* background-color: #e8e9eb; */
  background-color: #effbff;
}

.square:hover,
.square:focus {
  border: solid 2px #365153;
  background-color: #7ebdc2;
}

.targeted-square {
  border: solid 2px #bb4430;
  background-color: #f3dfa2;
}

.move-location {
  background-color: #7ebdc2;
  border: solid 2px #573280;
}

.square:hover > img {
  padding: 0px;
}
.piece {
  padding: 6px;
  width: 100%;
}

.castle-btns-container {
  width: 64vmin;
  max-width: 720px;
  margin: 8px auto;
  display: flex;
  justify-content: space-between;
  /* background-color: #23022e; */
}

.castle-btn {
  width: 48px;
  padding: 10px;
  border-radius: 24px;
  border-style: none;
  border: solid 2px #23022e;
  opacity: 0;
}

.hidden {
  opacity: 0;
}

.show {
  opacity: 1;
}

#new-game-btn {
  margin: 64px;
  padding: 8px 12px;
  background-color: #23022e;
  color: #e8e9eb;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

#new-game-btn:active {
  background-color: #23022e;
}
